.chatroom {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

img {
  width: 4rem;
  border-radius: 2rem;
}

.user1 {
  display: flex;
  padding-left: 2rem;
  justify-content: left;
  margin-bottom: 1.5rem;
}
.user1 p {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  margin: 15px;
  /* border: solid 1px black; */
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 6px 6px -6px grey;
}

.user2 {
  display: flex;
  padding-right: 2rem;
  justify-content: right;
  flex-direction: row-reverse;
  margin-bottom: 1.5rem;
}

.user2 p {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  margin: 15px;
  /* border: solid 1px black; */
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 6px 6px -6px grey;
}
