.chatroom {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

img {
  width: 4rem;
  border-radius: 2rem;
}

.user1 {
  display: flex;
  padding-left: 2rem;
  justify-content: left;
}
.user1 p {
  padding-top: 7px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 15px;
  border: solid 1px black;
  border-radius: 0.5rem;
  background-color: white;
}

.user2 {
  display: flex;
  padding-right: 2rem;
  justify-content: right;
  flex-direction: row-reverse;
}

.user2 p {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  margin: 15px;
  border: solid 1px black;
  border-radius: 0.5rem;
  background-color: white;
}
